[submodule "zad2/config"]
        path = zad2/config
        url = https://github.com/janfig/sem2-chmura-config.git
[submodule "zad2/source"]
        path = zad2/source
        url = https://github.com/janfig/sem2-chmura-source.git
[submodule "zad3/config"]
	path = zad3/config
	url = https://github.com/janfig/sem2-chmura-config.git
[submodule "zad3/source"]
	path = zad3/source
	url = https://github.com/janfig/sem2-chmura-source.git
